.footer {
    height: 70px;
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    border-top: 3px solid rgb(255, 254, 242);

    img {
        margin-left: 40px;
    }
}