@import url(main1.css);

.wrap-social{
    width: var(--main-container-width);
    background-color: rgb(248, 239, 239);
}

.social {
    width: var(--main-section-width);
    margin: var(--main-section-margin);
    display: flex;
}

.socail__text {
    flex-grow: 1;
    font-size: 1.5rem;
}

.social__text p {
    font-family: var(--second-font-family);
    font-size: 1.125rem;
}

.social__networks {
    flex-grow: 1;
    height: 8.75rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}