:root{
    font-size: 16px;
    display: flex;
    justify-content: center;
    --main-font-family:'Open Sans', sans-serif;
    --second-font-family: 'Raleway', sans-serif;
    --main-container-width: 94.375rem;
    --main-section-width: 73.125rem;
    --main-section-margin: 0 10.625rem;
}

body {
    font-family: var(--main-font-family);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(229, 229, 229);
}

.header-wrap {
    display: flex;
    width: var(--main-container-width);
    height: 64.13rem;
    margin-top: 0.94rem;
    background-image: url("image.png");
    background-size: auto;
    background-repeat: no-repeat;
}

.header-opacity{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

}

button {
    cursor: pointer;
}