@media (min-width:1510px) {
    :root {
        font-size: 20px;
    }
}

@media (max-width: 1252px) {
    .pricing__card {
        width: 20.125rem;
    }
}

@media (max-width: 1024px) {
    :root {
        font-size: 12px;
        --main-container-width: 1024px;
        --main-section-width: 992px;
        --main-section-margin: 0 16px 0 16px;
    }
    .header-wrap {
        height: 768px;
        background-image: url(addaptive_background/background2.png);
    }
}

@media (max-width: 860px) {
    :root {
        font-size: 16px;
    }

    .header-wrap {
        height: fit-content;
        text-align: center;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .banner > * {
        margin: 3.125rem 0;
    }

    .banner__logo {
        display: none;
    }

    .social {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social > * {
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 750px) {
    .header-wrap {
        margin-bottom: 0;
        background-image: url(addaptive_background/background_mobile.png);
    }

    .header {
        position: fixed;
        top:0;
        z-index: 2;
    }

    .menu {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .header__logo {
        margin: 0;
        margin-left: 10%;
    }

    .header__list {
        position: fixed;
        top: 4.63rem;
        width: 100%;
        z-index: 2;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 0;
        background-color: black;
        visibility: hidden;
    }

    .header__list > li {
        width: 100%;
        height: 10%;
    }

    .header__list > li,
    .header__list a {
        z-index: 2;
    }

    #menu__toggle {
        display: none;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 10%;
        width: 40px;
        cursor: pointer;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.30s linear;
    }

    .menu__btn > span::before {
    content: '';
    top: -8px;
    }

    .menu__btn > span::after {
    content: '';
    top: 8px;
    }

    #menu__toggle:checked ~ .header__list {
        visibility: visible;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top:0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top:0;
        transform: rotate(0);
    }

    .main1__content {
        padding-bottom: 2rem;
    }

    .main1__content > img {
        display: none;
    }
}

@media (max-width: 800px) {
    .main1__buttons {
        justify-content: center;
    }

    .main1__content-text {
        margin: 0;
        text-align: center;
    }

    .main1__content-text > h2 {
        line-height: normal;
        margin: 5% auto;
    }
    .main1__content-text br {
        display: none;
    }

    .main1__cards-wrap {
        flex-direction: column;
        align-items: center;
    }

    .pricing__cards-wrap {
        flex-direction: column;
        align-items: center;
    }

    .pricing__card {
        margin-bottom: 30px;
    }

    .customers {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .customers > .customer__review {
        display: none;
        width: fit-content;
        max-width: 80%;
    }

    .customers > input {
        display: inline-block;
        position: absolute;
        bottom: 5px;
        left: 50%;
    }

    #review__radio1 {
        left: 45%;
    }

    #review__radio3 {
        left: 55%;
    }

    #review__radio1:checked ~ .customer__review:nth-child(4) {
        display: block;
    }

    #review__radio2:checked ~ .customer__review:nth-child(5) {
        display: block;
    }

    #review__radio3:checked ~ .customer__review:nth-child(6) {
        display: block;
    }
}


@media (max-width: 560px) {
    :root {
        font-size: 12px;
    }

    .h2-title {
        margin-top: 25px;
        margin-bottom: 25px;
        line-height: normal;
    }
}

@media (max-width:430px) {
    :root {
        font-size: 10px;
    }
    .main1__buttons label {
        width: 9rem;
    }
}