    .level1 {
        font-size: 19.25px;
    }
    
    .level2 {
        font-size: 20.625px;
    }
    
    .level3 {
        font-size: 24.75px;
    }
    
    .level4 {
        font-size: 33px;
    }
    
    .level5 {
        font-size: 49.5px;
    }
    
    .level6 {
        font-size: 66px;
    }

@media (max-width:1510px) {
    /* Main fonts */
    .level1 {
        font-size: 14px;
    }

    .level2 {
        font-size: 15px;
    }

    .level3 {
        font-size: 18px;
    }

    .level4 {
        font-size: 24px;
    }

    .level5 {
        font-size: 36px;
    }

    .level6 {
        font-size: 48px;
    }
}

@media (max-width:1024px) {
    .level3 {
        font-size: 14px;
    }
    
    .level4 {
        font-size: 18px;
    }
    
    .level5 {
        font-size: 24px;
    }
    
    .level6 {
        font-size: 36px;
    }
}

