
.header-wrap {
    height: 64.125rem;
    background-image: url("../addaptive_background/image.png");
    background-size: 100% 100% ;
    background-origin: border-box;
}

.header-opacity{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 4.63rem;
    display: flex;
    background-color: rgb(0, 0, 0);
}

.header__logo {
    flex-grow: 1;
    margin-left: 7.19rem;
    display: flex;
    align-items: center;
}

.header__logo img {
    height: 1.92rem;
}

nav {
    flex-grow: 1;
}

#menu__toggle {
    display: none;
}

.header__list {
    height: 100%;
    margin-right: 11%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    margin-right: 10.625rem;
    padding: 0;
}

.header__list li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__list a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header__list li:hover {
    background-color: rgb(236, 121, 121);
}

.header__list li:active {
    background-color: rgb(171, 73, 73);
}