.stylish-wrap {
    height: 27.63rem;
    background-image: url(../addaptive_background/stylish.png);
    padding: 0;
}

.stylish-wrap-opacity {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.stylish {
    max-width: var(--main-section-width);
    margin: var(--main-section-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stylish > .h2-title {
    color: rgb(255, 255, 255);
    margin-top: 3.13rem;
}

.stylish > .p-title {
    margin-bottom: 4.56rem;
    color: rgb(255, 255, 255);
}

.stylish > button {
    width: 23.13rem;
    height: 3.63rem;
    margin-bottom: 3.13rem;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: var(--main-font-family);
}

.stylish > button:hover {
    border: 2px solid #EC7979;
    color: rgb(236, 121, 121);
}

.stylish > button:active {
    background-color: rgb(171, 73, 73);
    color: rgb(255, 255, 255);
    border: none;
}