:root{
    font-size: 16px;
    --main-font-family:'Open Sans', sans-serif;
    --second-font-family: 'Raleway', sans-serif;
    --main-container-width: 94.375rem;
    --main-section-width: 73.125rem;
    --main-section-margin: 0 calc(5px + (170 — 5) * ((100vw — 1024px) / (1920 — 1024)));
    display: flex;
    justify-content: center;
}

body {
    flex-grow: 1;
    max-width: 100%;
    font-family: var(--main-font-family);
    background-color: rgb(229, 229, 229);
}

.wrap {
    display: flex;
    justify-content: center;
}

.wrap > * {
    flex-grow: 1;
}

button {
    cursor: pointer;
}